# MongoDB
MONGO_URL=mongodb://localhost:27017
DB_NAME=monty

# API Version - Non required - Default: v1
API_VERSION=v1

# Authentication
SECRET_KEY="secret_key"  # can be generated using the following command: openssl rand -hex 32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30